.productDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2.5rem;
}

.productDetails .productImg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 2rem;
    background-color: #F9F8F8;
    width: 38rem;
    height: 43rem;
    padding: 2rem 2.6rem;
}

.productDetails .productImg .categoryProduct{
    font-family: 'Open Sans';
    background-color: #274C5B;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.8rem;
    padding: 0.2rem 0.9rem;
}

.productDetails .productImg .imgProduct{
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
}

.productDetails .productInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.productDetails .productInfo .productName{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 2.5rem;
    color: #274C5B;
}

.productDetails .productInfo .priceInformation .discount{
    font-family: 600;
    font-size: 1.4rem;
    color: #B8B8B8;
    text-decoration: line-through; 
}

.productDetails .productInfo .priceInformation .price{
    font-weight: 700;
    font-size: 1.7rem;
    color: #274C5B;
}

.descriptionProduct{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.1rem;
    color: #525C60;
    line-height: 1.5rem;
}

.quantityInformation{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titleQuantityInformation{
    font-weight: 700;
    font-size: 1.8rem;
    color: #274C5B;
}

.productNumber{
    padding: 1.8rem 4.5rem;
    border: 2px solid #274C5B;
    border-radius: 1.6rem;
    color: #274C5B;
    font-size: 1.8rem;
}



