@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 12rem;
    font-family: 'Roboto', sans-serif;
    color:#274C5B;
}
header .nav{
    display: flex;
    gap: 3rem;
}
header .nav a{
    all: unset;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
header .searchCard{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
header .searchCard .searchBar,
header .searchCard .card{
    position: relative;
}
header .searchCard .searchBar button,
header .searchCard .card button{
    all: unset;
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    text-align: center;
}    
header .searchCard .searchBar button{    
    background-color: #7EB693;
    top: 0.4rem;
    right: 0.5rem;
}    
header .searchCard .card button{
    left: 0.5rem;
    top: 0.4rem;
    background-color: #274C5B;
}
header .searchCard .searchBar .searchInput{
    all: unset;
    border-radius: 3.6rem;
    background-color:#FAFAFA;
    padding: 1.7rem 7rem;
}
header .searchCard .card .cardInput{
    all: unset;
    border-radius: 3.6rem;
    background-color: #FFFFFF;
    padding: 1.5rem 0.4rem;
    border: 1px solid #E0E0E0;
}
header .searchCard .card p{
    position: absolute;
    top: 1.4rem;
    left: 5.6rem;
    font-weight: 600 ;
    font-size : 1.3rem; 
}    


